.OurSystem-container{
    border-radius: 20px;
    background: rgba(35, 70, 76, 0.40);
    backdrop-filter: blur(150px);
    width: 100%;
    height: 1995px;
    left: 51px;
    right: 60px;
    margin-top: 56px;
}
.HubNetwork-title{
    background: linear-gradient(90deg, #4C67F1 0%, #C01653 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Helvetica;
    font-size: 45.651px;
    font-style: normal;
    font-weight: 700;
    line-height: 146%;
    width: 369.55px;
}
.HubMedia-title{
    color: #D8658A;
    font-family: Helvetica;
    font-size: 34.681px;
    font-style: normal;
    font-weight: 700;
    line-height: 146%;
}
.HubAcademy-title{
    color: #57B3D0;
    font-family: Helvetica;
    font-size: 34.611px;
    font-style: normal;
    font-weight: 700;
    line-height: 146%;
}
.HubGLP-title{
    color: #74AFBF;
    font-family: Helvetica;
    font-size: 36.521px;
    font-style: normal;
    font-weight: 700;
    line-height: 146%; 
}